[data-md-color-scheme] {
    /* some colours derived from cirrus dark theme */
    --md-default-bg-color: #0c0000;
    --md-code-bg-color: #3C3939;

    --md-default-fg-color: #f0f0f0;
    --md-default-fg-color--light: #f0f0f0;
    --md-default-fg-color--lighter: #f0f0f0;

    color-scheme: dark;
}

[data-md-color-scheme] .md-header, [data-md-color-scheme] .md-tabs {
    /* i like the top bar fully transparent */
    background-color: transparent;
    box-shadow: none;
}

[data-md-color-scheme] .md-header__title {
    margin-left: 0;
}

[data-md-color-scheme] img {
    border-radius: 0.7rem;
}